
/*

background header "black"
background navigation #eeeeee
background content white
background footer black


*/

h1      { font-size: 2em;       /* 2*16 = 32 */ font-family: "Comic Sans MS", cursive, sans-serif;        }
h2      { font-size: 1.5em;     /* 1.5*16 = 24 */ font-family: "Comic Sans MS", cursive, sans-serif;      }
h3      { font-size: 1.17em;    /* 1.17*16 = 18.72 */ font-family: "Comic Sans MS", cursive, sans-serif;  }

p { line-height: 1.5;
    margin: 0 0 1em;
    margin-bottom: 20px;
    font-family: "Times New Roman", Times, serif;
        }

p+p{
  text-indent:2em;
  margin-top:-20px;
}

body {
    background-color: #ffffff;
}


#container {
    
    width: 1200px;
  
  
}

#header {
    background-color:black; 
    color:white;
    text-align:center;
    padding:5px;
    
    background-image: url(../pics/Logo_inv.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 80px 60px;
    
}
#navigation {
 
    line-height:30px;
    background-color:#eeeeee;
    width:170px;
    float:left;
    padding:5px;
    height:100%;
}
#content {
 
    width:1000px;
    float:right;
    padding:10px;
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    
}



div.menu ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    

}

div.menu ul a {

    display: block;
    width: 100%;
    
}

div.menu ul li a:hover {
    background-color:white;
    
    
}

.selected {
    font-weight: bold;
}

/*unvisited link*/ 
#content a:link {
    color: #2149B8;
}

/* visited link */
#content a:visited {
    color: #B89021;
}

.right {
    float: right; margin: 0px 15px 15px 0px;
}

.center { width: 400px; margin-left: 50px;
    margin-right: auto;
    display: block }