
/*

background header "black"
background navigation #eeeeee
background content white
background footer black


*/


body {
    background-color: #ffffff;
}


#container {
    
    width: 1200px;
  
  
}

#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#navigation {
 
    line-height:30px;
    background-color:#eeeeee;
    width:170px;
    float:left;
    padding:5px;
    height:100%;
}
#content {
 
    width:1000px;
    float:right;
    padding:10px;
}


#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    
}